version: "3.9"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - zookeeper
    ports:
      - "9094:9094"   # 供主机调试使用
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-streamdb}
      POSTGRES_USER: ${POSTGRES_USER:-stream}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-stream}
    ports:
      - "5432:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  producer:
    build: ./producer
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      KAFKA_TOPIC: iot_readings
      PRODUCER_RATE_PER_SEC: "20"   # 控制速率
      NUM_DEVICES: "50"

  consumer:
    build: ./consumer
    depends_on:
      - kafka
      - postgres
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      KAFKA_TOPIC: iot_readings
      KAFKA_GROUP_ID: iot-consumer
      PG_HOST: postgres
      PG_PORT: "5432"
      PG_DB: ${POSTGRES_DB:-streamdb}
      PG_USER: ${POSTGRES_USER:-stream}
      PG_PASSWORD: ${POSTGRES_PASSWORD:-stream}
      BATCH_SIZE: "200"

  dashboard:
    build: ./dashboard
    depends_on:
      - postgres
    ports:
      - "8501:8501"
    environment:
      PG_HOST: postgres
      PG_PORT: "5432"
      PG_DB: ${POSTGRES_DB:-streamdb}
      PG_USER: ${POSTGRES_USER:-stream}
      PG_PASSWORD: ${POSTGRES_PASSWORD:-stream}
      TZ: "America/New_York"
